#img-logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 35%;
}

.principal {
   background: hsl(0, 0%, 100%);
   padding: 30px;
}

.titulo-principal{
   padding-left: 20px;
}

.titulo-centralizado {
   text-align: center;
}

p {
   text-align: center
}

#missao {
   font-size: 20px;
}

em strong {
   color: #0004ff;
}

.itens {
   font-style: inherit;
}

.beneficios {
   background: #FFFFFF;
   padding: 20px;
}

ul {
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}

.imagemBeneficios {
   width: 50%;
}