@font-face {
   font-family:'Montserrat', 'Inter' sans-serif;
   src: local(Montserrat-Medium) url(../fonts/Montserrat-Medium.ttf);
   src: local(Inter-Medium) url(../fonts/Inter-Medium.ttf);
}

header{
   background: #1D1B1B;
   padding: 5px 0;
}

.caixa {
   position: relative;
   width: 940px;
   margin: 0 auto;
}

nav {
   position: absolute;
   top: 160px;
   right: 0;
}

nav li {
   display: inline;
   margin: 0 0 0 15px;
}

nav a {
   font-family: Inter;
   text-transform: uppercase;
   color: #FFFFFF;
   font-weight: bold;
   font-size: 20px;
   text-decoration: none;
}

nav a:hover {
   color: #FDBF00;
   text-decoration: underline;
}

.produtos {
   width: 940px;
   margin: 0 auto;
   padding: 50px 0;
}

.produtos li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.5%;
   padding: 5% 10px;
   box-sizing: border-box;
   border: 3px solid #000000;
   border-radius: 10px;
}

.produtos li:hover {
   border-color: #FDBF00;
}

.produtos li:active {
   border-color: #54E360;
}

.produtos li:hover h2 {
   font-size: 25px;
}

.produtos h2 {
   font-size: 23px;
   font-weight: bold;
   font-family: Montserrat;
}

.produtos-descricao {
   font-size: 20px;
   font-family: Inter;
}

.produtos-preco {
   font-family: Montserrat;
   font-size: 22px;
   font-weight: bold;
   margin-top: 10px;
}

footer {
   text-align: center;
   background: url("../bg.jpg");
   padding: 40px 0;
}

.copyright {
   color:#FFFFFF;
   font-size: 13px;
   font-family: Inter;
   margin: 30px;
}

main {
   width: 940px;
   margin: 0 auto;
}

form {
   margin: 40px 0;
}

form label, form legend {
   display: block;
   font-size: 18px;
   font-family: Inter;
   margin: 0 0 10px;
}

.inputPadrao{
   display: block;
   margin: 0 0 20px;
   padding: 10px 25px;
   width: 50%;
}

.checkbox {
   margin: 20px 0;
}

.enviar {
   width: 40%;
   padding: 15px 0;
   background: #47f555;
   color: white;
   font-weight: bold;
   font-family: Inter;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   transition: 1s all;
   cursor: pointer;
}

.enviar:hover{
   background: #FDBF00;
   transform: scale(1.1);
}

table {
   margin: 20px 0 40px;
}

thead {
   background: #555555;
   color: white;
   font-family: Inter;
   font-weight: bold;
}

td, th {
   font-family: Inter;
   border: 1px solid #000000;
   padding: 8px 15px;
}